/* Simple horizontal chart */
.shchart div {
	font: 12px sans-serif;
	background-color: #2ecc71;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: #000;
}

div.shchart {
	position: relative;
	width: 100%;
	padding: 8px;  /* top padding 16, l=r=8 */
}

/* Bar chart with negative values (positive-negative) */
.chart {
	width: 100%;
	margin: 16px 2px 2px;  /* top padding 16, l=r=8 */
	font: 12px arial,times,sans-serif;
	color: black;
	padding: 20px 4px 4px;  /* top padding 16, l=r=8 */
}
/*.chart>div {
	font: 12px sans-serif;
	background-color: #2ecc71;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: #000;
}*/

div.tweet_score {
	padding: 4px 2px 4px 0;
	background: url('../img/tweet_vote_bg.jpg') no-repeat;
	background-size: 100% auto;
	min-width: 300px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
}
.tweet_score .rate {
	color: #fff;
	font-size: 15px;
    font-weight: bold;
	padding: 0 2px;
	vertical-align: middle;
	display: inline;
	margin-bottom: 2px;
	padding: 0 2px;
}
.tweet_score img {
    height: 30px;
	margin: 0 2px 2px;
	vertical-align: middle;
}

div.score_bar {
	width: 156px;
	height: 10px;
	background-color: #0f8981;
	border-radius:3px;
	/*margin: 0 4px;*/
    margin: 5px;
	display: inline-block;
	vertical-align: middle;
}
div.score_bar>div {
	background-color: #235483;
	height: 100%;
	border-radius:3px;
	margin: 0;
	vertical-align: middle;
}

svg.score_pie {
	fill: #3d7485;
	margin: 0 18px;
	text-align: center;
}
svg.score_pie .pos {
	fill: #2fc187;
}

svg text {
	font-family: "PT Sans","Myriad Pro",Myriad,"Liberation Sans","Nimbus Sans L","Helvetica Neue",Helvetica,Arial,sans-serif;
	fill: black;
}

.score_pie text {
	font-size: 14px;
	font-weight: bold;
}

.pnbar.positive {
	fill: #3498db;
}

.pnbar.negative {
	fill: #DB7735;
}

.chart text {
	font-size: 12px;
	font-weight: normal;
}

.axis text {
	font: 10px arial,times,sans-serif;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

/* Time-Series line chart */
.chart#topics {
	height: 300px;
	width: 550px;
	margin: auto;
}
.chart#debatesSentiments {
	height: 450px;
	margin: auto;
}
/*.x.axis path {
  display: none;
} */

.line {
	fill: none;
	stroke: #3498db;
	stroke-width: 1.5px;
}
.line.s2 {
	stroke: #2ecc71;
}

.marker {
	stroke: grey;
	stroke-width: 1.5px;
}

text.label {
	fill: #1C1C1C;
}
text.label.s1 {
	fill: #3498db;
}

text.label.s2 {
	fill: #2ecc71;
}
