body { 
    padding-top: 70px;
    background-color: #ecf0f1;
	font-family: "PT Sans", "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #343434;
    line-height: 1.5;
}
img {
    vertical-align: baseline;
}
.font_titles {
	font-family: 'Noto Sans', 'Droid Sans', "PT Sans", "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;  /* Instead of Maven Pro */
	color: #949494;
}
.navbar-form .form-control{
    width: 300px;
   margin-left: 20px;
}
h3 .item {
	font-size: 30px;
	color: black;
}
h6 .item {
	font-size: 13px;
	color: #343434;
}
.author {
	font-size: 12px;
	color: #949494;
}
.slider {
	float: right;
	width: 58%;
	min-width: 560px;
	max-width: 590px;
    background-color: #E4E9E9;
	border-top: 1px solid #CFD5D5;
	padding: 0;
    text-align: left;
    margin: 0 16px 1px 0;
    max-height: 125px;
}
.slider_arrow {
	display: inline;
}
.slider_arrow.right {
	position: absolute;
	right: 1px;
	top: -1px;
}
.slider_item {
	border: 1px solid white;
	width: 132px;
	height: 124px;
	display: inline-block;
	vertical-align: top;
	margin: 0 -3px 0 -2px;
}
.slider_item h6 {
	font-size: 12px;
	margin-top: 8px;
}
.slider_item span {
	padding: 0 4px;
}
.slider_item span:hover {
	font-weight: bold;
}
.slider_item img {
	max-width: 130px;
	max-height: 76px;
	width: 130px;
	height: 76px;
	vertical-align: bottom;
    opacity: 1;
    -moz-opacity:1;
    filter: alpha(opacity=100) black;
    -khtml-opacity: 1;
}
.slider_item img:hover {
    opacity: 0.75;
    -moz-opacity:0.75;
    filter: alpha(opacity=75) black;
    -khtml-opacity: 0.75;
    background-color:#000;
	/* margin: auto;  /* align in the center */
}
.slider_item.active {
	background: #1C1C1C url('../img/sl_it_h.png') no-repeat;
	background-size: 100% 100%;
}

.underline_grad {
	background: linear-gradient(left, #3498db 0%, #2ecc71 100%); /* Standard syntax */
	background-image: -webkit-linear-gradient(left, #3498db 0%, #2ecc71 100%); /* For Safari 5.1 to 6.0 */
	background-image: -o-linear-gradient(left, #3498db 0%, #2ecc71 100%); /* For Opera 11.1 to 12.0 */
	background-image: -moz-linear-gradient(left, #3498db 0%, #2ecc71 100%); /* For Firefox 3.6 to 15 */
	background: -ms-linear-gradient(left, rgba(52,152,219,1) 0%, rgba(46,204,113,1) 100%);
	background-image: linear-gradient(to right, #3498db 0%, #2ecc71 100%); /* Standard syntax */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#2ecc71', GradientType=0);
	width: 100%;
	height: 3px;
	padding-bottom: 1px;
	clear: both;
}
.underline_grad.lite {
	height: 2px;
}

.debate .vertical_line{
	background: linear-gradient(to right, #3498db 0%, #2ecc71 100%); /* Standard syntax */
	background-image: -webkit-linear-gradient(top, #3498db 0%, #2ecc71 100%); /* For Safari 5.1 to 6.0 */
	background-image: -o-linear-gradient(top, #3498db 0%, #2ecc71 100%); /* For Opera 11.1 to 12.0 */
	background-image: -moz-linear-gradient(top, #3498db 0%, #2ecc71 100%); /* For Firefox 3.6 to 15 */
	background: -ms-linear-gradient(top, rgba(52,152,219,1) 0%, rgba(46,204,113,1) 100%);
	background-image: linear-gradient(to bottom, #3498db 0%, #2ecc71 100%); /* Standard syntax */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#2ecc71', GradientType=0);
	width: 6px;
    height: 94px;
	/* padding: 8px; */
    /*background: url('../img/vline.png') top repeat-y;*/
}
.debates_content{
    background: -webkit-linear-gradient(#2aeab4, #0d5e78); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2aeab4, #0d5e78); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2aeab4, #0d5e78); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2aeab4, #0d5e78); /* Standard syntax */
    /*border: 1px solid #c0c3c4;*/
}
.row{
    text-align: center;
}
.lead{
    margin-top: 20px;
    margin-bottom: 10px;
}
ul{
    margin-bottom: 0;
}
p.debate_text{
    margin-bottom: 0;
}
span.yes{
    padding-right: 60px;
}
span.yes, span.no{
    color: #313131;
}
h1{
    color: #47979F;
}
hr{
    margin: 0;
    padding-bottom: 1px;
    border-top: 1px solid #aeb1b2;
}
h5{
    margin-bottom: 3px;
}
.column_height{
	height: 400px;
	background-color: white;
}
.row .first {
	border-right: 15px solid #ecf0f1;
}
.row .last {
	padding-right: 0;
}
.row .nwpad {
	padding-left: 0;
	padding-right: 0;
}
.float_left{
    float: left;
}
.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.right {
	float: right;
}

h4 small{
    line-height: 2;
}
.glyphicon-chevron-down{
    padding: 0;
}
#post_content>a{
    float: right;
}
div.post_img {
    padding: 0;
	height: 100%;
}
div.post_img img{
	max-width: 360px;
	max-height: 220px;
    border: 1px solid #dbdbdb;
	width: 100%;
	margin: 0 16px;
	padding: 1px;
}
.label-default{
    background-color:  #97a6aa;;
}
div.labels>div.row{
    padding: 0;
    text-align: left;
}
.img-responsive {
    margin: auto;
}
.img_likes{
    padding-top: 100px;
}
.img{
    vertical-align: bottom;
}
.navbar-default{
    background-color: #22b469;
    border: none;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav>li>a{
    color: white;
}
.one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -6px dimgray;
       -moz-box-shadow: 0 8px 6px -6px dimgray;
            box-shadow: 0 8px 6px -6px dimgray;
}
.wrapper{
    padding: 10px;
    background-color: white;
}
.wrapper h5 {
	margin-top: 15px;
}
.tweet {
    background-color: white;
	height: 100%;
}
.tweet>.person {
    margin-top: -50px;
    margin-bottom: 0;
}
.tweet p {
	font-size: 15px;
    padding: 0 20px 0 20px;
}
.tweet h5{
    text-align: left;
    padding-left: 10px;
}
.gray{
    background-color:#ecf0f1;
}
.backgr_img{
    overflow:hidden;
    width:100%;
}
div.like_voting{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-image: url('../img/tweet_vote_bg.jpg');
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}
/*.tweet .vote {
    background: url('../img/tweet_vote_bg.png') no-repeat;
}*/
div.vertical_line{
	background-color: #e2eff2;
	width: 1px;
    height: 65px;
	padding: 1px;
    /*background: url('../img/vline.png') top repeat-y;*/

}
div.block_title>div.wrapper{
    padding-bottom: 0;
}
div.modal{
    text-align: center;
}
div.nav_country, div.nav_stakeholder, div.nav_topic {
    text-align: center;
    padding: 3px 5px 0 5px;
}
.nav_wrapper{
    background-color: #97a6aa;
    padding-top: 2px;
}
div.navigation a{
    text-align: center;
    color: #ecf0f1;
}
div.navigation{
    padding-left: 5px;
   padding-right: 5px ;
}
div.btn-yes-no{
    padding-bottom: 0;
}
.radio label{
    float: left;
}
.radio+.radio{
    margin-top: 10px;
}
.btn-xs{
    font-size: 10px;
    padding: 0 4px;
}
img.arrow{
    height: 40px;
    padding-left: 10px;
}
div.debates_content>p{
    padding-top: 10px;
    font-size: large;
}
/*Slider styling*/
/*Debate*/
div.debates_content{
    display: inline-block;
    white-space: normal;
    width: 1180px;
    text-align: center;
    margin-top: 20px;
    max-height: 95px;
}
.slider-debates {
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
}
div.slider_children_debates{
    max-height: 93px;
}
div.debate_argument{
    padding-top: 15px;
    padding-bottom: 10px;
    color: white;
}
div.debate_argument h4{
    padding: 10px 4px 0 4px;
    margin: 0;
}
div.debate_argument h4:hover{
    font-size: 20px;
    padding: 10px 4px 0 4px;
    margin: 0;
}
.debImg {
	width: 100%;
	height: auto;
	padding: 10px 4px 0;
}
div.modal-body{
    text-align: justify;
}
div.content_nav{
	background-color: white;
/*    margin: 0 0 15px 0; */
    margin-bottom: 15px;
}
.cst h5{
    line-height: 2.3em;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 10px;
}
.block_title {
    float: left;
	width: 40%;
	min-width: 375px;
	text-align: left;
	padding: 12px 0 8px 15px;
}
.block_info {
	float: left;
	display: block-inline;
}
.block_info>h5 {
	display: inline;
	padding-right: 10px;
}
.arrow_left{
    float: left;
}
.arrow_right{
    float: right;
}
#article{
    text-align: left;
    padding-right: 20px;
}
a.data_post{
    color: #343434;
    padding-left: 70px;
}
.gray_text{
    color: #949494;
}
#posted_on{
    color: #949494;
}
#posted_on a{
   padding-left: 30px;
    color: #343434;
}
img.person{
	border: 4px solid #fff;
	background-color: #fff;
	border-radius: 5px;
	max-width: 73px;
	max-height: 73px
}
ul.navbar-nav li{
    font-size: large;
}
.nav-tabs {
    border-bottom: 0px solid #ddd;
}

div.art_title {
	height: 50px;
	margin-top: 26px;
	padding: 0 15px;
}
div.topic_content{
    padding: 25px 15px 10px 15px;
	height: 256px;
}

div.believe_dont{
	bottom: 0;
	height: 60px;
	width: 400px;
	text-align: center;
	margin: 2px auto;
	vertical-align: bottom;
}
.believe_dont p {
	margin: 0 auto;
	padding: 2px;
}

button.believe{
    border: 2px solid #1fb087;
	margin-bottom: 1px;
}
button.believe:hover{
    background-color: #22be92;
    color: white;
}
button.doubt{
    border: 2px solid #3887d2;
	margin-bottom: 1px;
}
button.doubt:hover{
    background-color: #429ef7;
    color: white;
}
#radioYes{
    color: white;
    font-size: 16px;
}
#radioNo{
    color: white;
    font-size: 16px;
}
.no-padding{
    padding: 0;
}
div.debate_argument{
    width: 1180px;
}
.text_right{
    text-align: right;
}

