<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
    <link href="static/css/charts.css" rel="stylesheet">
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/d3.v3.min.js"></script>
    <script src="static/js/charts.js" charset="utf-8"></script>
    <script src="static/js/main.js"></script>
    <title> Expert: Climate Change </title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top one-edge-shadow" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-tabs">
                <li class="active"><a href="#" data-toggle="tab"><strong>Topic</strong></a></li>
                <li><a href="#" data-toggle="tab"><strong>People</strong></a></li>
                <li><a href="#" data-toggle="tab"><strong>Latest Event</strong></a></li>
                <li><a href="#" data-toggle="tab"><strong>News</strong></a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </form>
            <form class="navbar-right">
                <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-user"></span></button>
                <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-info-sign"></span></button>
            </form>
        </div>
    </div>
</nav>

<div class="container">


    <!--Topic navigation-------------------------------------------------------------------------------------->
	{% if topics %}
		{% set itopic = 0 %}
		{% set topic = topics[itopic] %}
	<script>
		window.block = {data: {}, index: {{itopic}}};
		(function() {
			var data = [], votes = [];
			var neg = 0, pos = 0, bneg = 0, bpos = 0
			// Add Topics and generate votes to the window var
			{% for topic in topics %}
				data.push({{topic|tojson|safe}});
				// Tweet votes
				neg = Math.round(Math.random() * 50);
				pos = Math.round(Math.max(neg*4/3, Math.random()*80));
				// Believe Votes
				bneg = Math.round(Math.random() * 20);
				bpos = Math.round(Math.max(neg*3/4, Math.random()*40));
				//votes.push({tweet: {pos: pos, neg: neg},
				//	believe: {pos: pos, neg: neg}});
				votes.push(new BlockVotes(data.Id, pos, neg, bpos, bneg));
			{% endfor %}
			window.block.data["topics"] = data;
			window.block.data["votes"] = votes;
			// Add tweets
			data = [];
			{% for tweet in tweets %}
				data.push({{tweet|tojson|safe}});
			{% endfor %}
			window.block.data["tweets"] = data;
			// Add debates
			data = [];
			{% for debate in debates %}
				data.push({{debate|tojson|safe}});
			{% endfor %}
			window.block.data["debates"] = data;
			// Add debates arguments
			data = [];
			{% for da in debate_arguments %}
				data.push({{da|tojson|safe}});
			{% endfor %}
			window.block.data["debargs"] = data;
		}) ();
	</script>

    <div class="content_nav row">
        <div class="block_title">
            <div class="font_titles"><h3>Topic: <span class="item" id="block_name"> {{topic.name}}</span></h3>
        		<div class="block_info">
				    <!-- <h5 data-toggle="modal" data-target=".bs-example-modal-sm"> -->
				    <h5>
				        Country: USA
				    </h5>
				    <h5 data-toggle="modal" data-target="#modalStakeholder">
				        Stakeholder: <strong><a class="details" href="#" onclick="climoChart('#stakeholderStat', 'drawHorizSimpleBar', 0, 1, '/api/topics_user_info/' + window.block.data.topics[window.block.index].Id)">People</a></strong>
				    </h5>
<!--				    <h5>
				        Stakeholder: People
				    </h5>
-->
				    <h5>
				        
				    </h5>
				    <h5 data-toggle="modal" data-target="#modalTopic">
				        Topic: <strong><a class="details" href="#" onclick="var tid = window.block.data.topics[window.block.index].Id; climoChart('#topicSentiments', 'drawHorizPosNegBar', 0, 1, '/api/topic_sentiments/' + tid); climoChart('#topicsAnalysis', 'drawHorizSimpleBar', 0, 1, '/api/topic_topics/' + tid);">Climate</a></strong>
				    </h5>
				    <!--            <h5 data-toggle="modal" data-target="#modalStakeholder">
				                    Stakeholder: <strong><a href="#">People</a></strong>
				                </h5>
				                <h5 data-toggle="modal" data-target="#modalCountry">
				                    Country: <strong><a class="details" href="#">UK</a></strong>
				                </h5>
				    -->
                </div>
            </div>
        </div>
    <!------------------------------Upper slider with images and names of people------------------------------>
    <div class="row">
        <div class="col-md-12 slider">
			<img class="slider_arrow " src="static/img/sl_arr_l.png" alt="left slider arrow" onmouseover="imgUpdate(this, 'sl_arr_l_h.png')" onmouseout="imgUpdate(this, 'sl_arr_l.png')" />
          	{% for topic in topics %}
				{% if loop.index0 < 4 %}
		        <div class="slider_item{% if not loop.index0 %} active{% endif %}" iblock="{{loop.index0}}" onclick="activate(this)">
		            <img src="static/img/Topic/{{topic.photo}}" alt="slider item image" />
		            <h6 class="font_titles"><span class="item">{{topic.name}}</span></h6>
		        </div>
				{% endif %}
            {% endfor %}
			<img class="slider_arrow right" src="static/img/sl_arr_r.png" alt="right slider arrow" onmouseover="imgUpdate(this, 'sl_arr_r_h.png')" onmouseout="imgUpdate(this, 'sl_arr_r.png')" />
		</div>
	</div>
        <div class="underline_grad"></div>
    </div>

    <!---------------------------Block Popular tweet by person------------------------------------------------->
    <div class="row">
        <div class="col-md-4 column_height first">
            <div class="row tweet">
                <h5><strong>The most popular tweet</strong></h5>
                <hr/>
                <img class="backgr_img" src="static/img/tweet_bg.jpg"/>
<!--                <img class="img-responsive person" src="static/img/{_{tweets[loop.index0*2].photo}_}"/> -->
                <img class="img-responsive person" src="static/img/{{tweets[itopic].photo}}"/>
				<p class="author">
					<span class="font_titles" id="auth_name">{{tweets[itopic].name}}</span> @<span id="auth_nick">{{tweets[itopic].screen_name}}</span></p><br />
				<p class="lead">{{tweets[itopic].text}}</p>
				<div class="tweet_score">
                    <p class="rate neg">8</p>
                    <img src="static/img/vote_down.png" alt="vote down" onmouseover="imgUpdate(this, 'vote_down_h.png')" onmouseout="imgUpdate(this, 'vote_down.png')" onclick="vote('t', -1)" />
					<div class="score_bar" id="tweet_score"></div>
                    <img src="static/img/vote_up.png" alt="vote up" onmouseover="imgUpdate(this, 'vote_up_h.png')" onmouseout="imgUpdate(this, 'vote_up.png')" onclick="vote('t', 1)" />
                    <p class="rate pos">12</p>
                </div>
            </div>
        </div>

        <!--------------------------------------------------- Topic--------------------------------------------->
        <div class="col-md-8 column_height nwpad" id="art_content">
		    <div class="art_title">
                <h4><strong id="art_header">{{topic.heading}}</strong></h4>
                <p class="author font_titles">BBC News UK. Posted on: 14 February 2014</p>
		    </div>
                <div class="row topic_content">
                    <div class="post_img col-md-6">

                            <img src="static/img/Topic/{{topic.photo}}"/>
                    </div>
                    <div class="col-md-6" id="article">
                        <p id="post_content">{{topic.description}}</p>
                    </div>
                </div>
                    <div class="underline_grad lite"></div>
                        <div class="row believe_dont">
                            <div class="col-md-4">
                                <p class="gray_text neg">13%</p>
                                <button class="btn btn-default doubt" onclick="vote('a', -1)" ><strong>Doubt</strong></button>
                            </div>
                            <div class="col-md-4">
                                <svg class="score_pie" id="art_score" onclick="climoChart('#storySentiments', 'drawHorizPosNegBar', 0, 1, '/api/topic_sentiments')"></svg>
                            </div>
                            <div class="col-md-4">
                                <p class="gray_text pos">34%</p>
                                <button class="btn btn-default believe" onclick="vote('a', 1)"><strong>Believe</strong></button>
                            </div>
		                </div>
    </div>
</div>

<!--------------------------------------------------- Debates--------------------------------------------->
    <div class="debates row">
        <div class="slider-debates col-md-12 one-edge-shadow">
            <div class="slider_children_debates ">

                {% for debate in debates %}
				{% if loop.index0 < 2 %}
                <div class="debates_content">
                    <div class="underline_grad"></div>
                    <div class="row debate_argument">
                        <div class="col-md-1">
                            <img data-dir="prev" class="arrow img-responsive slider_cntr_debates " src="static/img/arrow_left.png"/>
                        </div>
                        <div class="col-md-7">
                               <h4 data-toggle="modal" data-target="#modalDebates" class="debate_text" onclick="climoChart('#debatesSentiments', 'drawTimeSeries', 0, 1, '/api/debate_timeline')">
                                        <strong class="debate_arg" idebate="{{loop.index0}}">{{debate.heading}}</strong>
                                    </h4>
                              </div>
                        <div class="col-md-3">
                            <div class="row btn-yes-no">
                                <div class="radio col-md-6">
                                    <label><input type="radio" name="optionsRadios" id="optionsRadios2" value="no"><strong>No</strong></label>
                                </div>
                                <div class="radio col-md-6" >
                                    <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="yes"><strong>Yes</strong></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <img data-dir="next" class="arrow img-responsive slider_cntr_debates " src="static/img/arrow_right.png"/>
                        </div>
                    </div>
                </div>
				{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
  </div>
  
        <!-- Modal for "Post On:"-->
        <div class="modal fade" id="modalPostOn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Number of posted articles</h4>
                    </div>
                    <div class="modal-body">
						<svg class="chart" id="topics"></svg>
                    </div>
                   <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
<!-- Modal for "Believe/Don't Believe"-->
<div class="modal fade" id="modalDebates" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Debates sentiments:</h4>
            </div>
            <div class="modal-body">
				<svg class="chart" id="debatesSentiments"></svg>
<!--				<img class="debImg" src="static/img/debate.png" alt="debate analysis" />
-->
            </div>
        </div>
    </div>
</div>
<!-- Modal for Country-->
<div class="modal fade" id="modalCountry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalCountry1">List of Countries</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>United Kingdom</li>
                    <li>Spain</li>
                    <li>Italy</li>
                    <li>Germany</li>
                    <li>France</li>
                </ul>
            </div>
        </div>
    </div>
</div>

    <!-- Modal for Stakeholder-->
<div class="modal fade" id="modalStakeholder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalStakeholder1">Stackholder statistic:</h4>
            </div>
            <div class="modal-body">
				<div class="shchart" id="stakeholderStat"></div>
            </div>
        </div>
    </div>
</div>

    <!-- Modal for Topic -->
<div class="modal fade" id="modalTopic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalTopic1">Topic keywords sentiments:</h4>
            </div>
            <div class="modal-body">
				<svg class="chart" id="topicSentiments"></svg>
				<br />
				<div class="shchart" id="topicsAnalysis"></div>
            </div>
        </div>
    </div>

    <!-- Modal for Topic-->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="mySmallModalLabel">Climate: Hot Topics</h4>
                </div>
                <div class="modal-body">
                    <a href="#">Climate Change: Bloom</a>
                    <p>Want to tackle climate change, but not sure how to start? Find out about the actions that really
                        reduce your carbon emissions and lessen your impact on the environment.</p>
                    <a href="#">Greenhouse gases</a>
                    <p>The Environmental Protection Agency's Breathtakingly Lawless Attempt To Regulate Greenhouse Gases</p>
                    <a href="#">Polar Vortex</a>
                    <p>Climate Change Might Just Be Driving the Historic Cold Snap . Climate change skeptics are pointing to the record cold weather as evidence that the globe isn't warming.
                        But it could be that melting Arctic ice is making sudden cold snaps more likely—not less.
                        Read more: Polar Vortex: Climate Change Could Be the Cause of Record Cold Weather</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
